torch==2.5.0
torchvision
torchaudio
packaging
wheel
flash-attn --no-build-isolation
accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray
tensordict
torchdata
transformers>=4.49.0
vllm==0.8.0
wandb
duckdb
tensorboard
flashinfer-python
